   <body id="dashboard-page-body">
      <h1>Welcome, Admin!</h1>
      <div class="post-section">
         <div class="post-section-head">
            <a href="newpost.html"><button  id="newpost">NEW POST +</button></a>
            <a href="draftlist.html"><button>DRAFT LIST</button></a>
            <a href="archive.html"  target="_blank" id="archive"><button>ARCHIVE</button></a>
            <a href="index.html"  target="_blank" id="viewsite"><button>View Site</button></a>
            <input type="text" name="" value="" placeholder="Search">
         </div>
         <div class="published-post-wrapper">
            <p>Published Posts</p>
            <div class="published-post">
               <div class="articles">
                  <a href=""><h2>This is my article title goes here<span> 28 Maret 2018</span></h2></a>
                  <p>This is the text that will appear as a snippet of the article that have been published.
                     I don't want to show lorem text, instead why not give the info of what this section are.
                  </p>
                  <div class="update-delete">
                     <button id="update" type="button" name="button">Update/Edit</button>
                     <button id="delete" type="button" name="button">Delete</button>
                     <button id="view" type="button" name="button">View</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
