<body id="dashboard-page-read">
      <div class="post-section">
         <div class="published-post-wrapper">
            <div id="menu">
               <a href="#"><h3>Home</h3></a>
               <a href="#"><h3>WebDev</h3></a>
               <a href="#"><h3>Opinion</h3></a>
               <a href="#"><h3>Art</h3></a>
               <input type="text" name="" value="" placeholder="Search">
            </div>

            <h2>{{articles.title}}<span> {{articles.date}}</span> <a href=""><span id="span-tag">{{articles.category}}</span></a> </h2>
            <div class="published-post">
               <div class="articles">
                  
                  {{{articles.body}}}


               </div>
            </div>
         </div>
      </div>

</body>
